html {
	background-color: #4A4A4A
}

.circles {
    width: 8%;
    height: 100px;
    position: relative;
}

.circles div {
    height: 0;
    position: absolute;
}

.middle-circle {
    width: 100%;
    height: 0;
    padding-bottom: 20%;
    top: 250%;
    left: 500%;
    padding-bottom: 100%;
    border-radius: 50%;
	border:6px solid #FFFFFF;
    overflow:hidden;
    background: #E2502F; 
}

.top-circle {
    width: 100%;
    padding-bottom: 30%;
    top: 50%;
    left: 500%;
    right: 10%;
    padding-bottom: 100%;
    border-radius: 50%;
	border:6px solid #FFFFFF;
    overflow:hidden;
    background: #23C730;
}


.right-circle {
    width: 100%;
    padding-bottom: 30%;
    top: 250%;
    left: 300%;
    padding-bottom: 100%;
    border-radius: 50%;
	border:6px solid #FFFFFF;
    overflow:hidden;
    background: #23C730;
}

.bottom-circle {
    width: 100%;
    padding-bottom: 30%;
    top: 450%;
    left: 500%;
    padding-bottom: 100%;
    border-radius: 50%;
	border:6px solid #FFFFFF;
    overflow:hidden;
    background: #23C730;
}

.left-circle {
    width: 100%;
    padding-bottom: 30%;
    top: 250%;
    left: 700%;
    padding-bottom: 100%;
    border-radius: 50%;
	border:6px solid #FFFFFF;
    overflow:hidden;
    background: #23C730;
}




.middle-circle:hover {
	background:#E2A32F;
}
.middle-circle a {
    display:block;
	float:left;
	width:100%;
	padding-top:50%;
    padding-bottom:50%;
	line-height:1em;
	margin-top:-0.5em;
    
	text-align:center;
	color:#e2eaf3;
    font-family:Verdana;
    font-size:1.2em;
    font-weight:bold;
    text-decoration:none;
}





/*
.circles {
	position: relative;
	width:10%;
	height: 1000%
}

.circles div {
	height: 0;
	position: absolute;
}

.middle-circle {
	width: 100%;
	top: 20%;
	height:0;
	
}

.top-circle {
	position: absolute;
	margin-top: 50%;
	width: 100%;
	height:0;
	 
}

.right-circle {
	position: absolute;
	right: 150px;
	top: 200px;
	width: 100%;
	height:0;
	padding-bottom: 100%;
    border-radius: 50%;
	border:6px solid #FFFFFF;
    overflow:hidden;
    background: #23C730; 
}






*/








